<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/application/app/applyAppKey}">
<!--        <input type="hidden" name="id" th:if="${appTopic}" th:value="${appTopic.id}">-->
        <div class="layui-form-item">
            <label class="layui-form-label">appDesc</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="appDesc" placeholder="请输入appDesc" th:value="${req?.appDesc}">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">mq类型</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input class="layui-input" type="text" name="mqType" placeholder="请输入mq类型" th:value="${appTopic?.mqType}">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">mq topic</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input class="layui-input" type="text" name="topic" placeholder="请输入mq topic" th:value="${appTopic?.topic}">-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">创建者</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="creator" placeholder="请输入创建者" th:value="${req?.creator}">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">创建者组织</label>-->
<!--            <div class="layui-input-inline">-->
<!--                <input class="layui-input" type="text" name="creatorOrg" placeholder="请输入创建者组织" th:value="${appTopic?.creatorOrg}">-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>